<section id="about" class="about">
  <div class="wrapper">
    <h2>About us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt et architecto similique obcaecati earum laborum, ratione iste rem error quas incidunt neque placeat fugit autem enim ad quam, animi dolor labore est esse aliquid. Deleniti nemo vitae corporis, obcaecati repudiandae, sit consectetur ullam, dolores non consequuntur iure harum esse. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit suscipit cum sed a ea ab inventore ipsa! Repellendus animi, fugit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe atque exercitationem iste vero rerum, id quos distinctio consequuntur, totam provident reprehenderit culpa molestias assumenda dolorum aperiam tempora quod error at deserunt eos ut dolorem! Quis perspiciatis nam, deleniti delectus repellendus porro officia nemo nobis quibusdam, eligendi dolores impedit maxime libero.</p>
    <div class="ourteam">
      <img src="assets/img/team/team4.jpg" alt="team">
    </div>
  </div>
</section>
