<section id="contact" class="contacts">
  <div class="section_header animated">
    <h2 class="s__title">Contacts</h2>
    <div class="s_descr_wrap">
      <h3 class="s_descr">Leave your message:</h3>
    </div>
  </div>
  <div class="section_content">
    <div class="wrapper">
      <div class="contact_grid">
        <div class="contact_grid_item">
          <div class="contact_box">
            <div class="contacts_icon icon-basic-geolocalize-05"></div>
            <h3>Address:</h3>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="contact_box">
            <div class="contacts_icon icon-basic-smartphone"></div>
            <h3>Phone:</h3>
            <p>+380 50 222 22 22</p>
          </div>
          <div class="contact_box">
            <div class="contacts_icon icon-basic-webpage-img-txt"></div>
            <h3>Website:</h3>
            <p><a href="#" target="_blank">AR-Studio.com.ua</a></p>
          </div>
        </div>
        <div class="contact_grid_item">
          <form action="http://formspree.io/agragregra@ya.ru" class="main_form" novalidate target="_blank" method="post">
            <label class="form-group">
              <span class="color_element">*</span>Your name:
              <input type="text" name="name" placeholder="Enter your name here" data-validation-required-message="You did not enter name!" required />
              <span class="help-block text-danger"></span>
            </label>
            <label class="form-group">
              <span class="color_element">*</span> Your E-mail:
              <input type="email" name="email" placeholder="Your E-mail" data-validation-required-message="E-mail is not right" required />
              <span class="help-block text-danger"></span>
            </label>
            <label class="form-group">
              <span class="color_element">*</span>Your message:
              <textarea name="message" placeholder="Enter your message here" data-validation-required-message="You did not enter your message" required></textarea>
              <span class="help-block text-danger"></span>
            </label>
            <button class="button_s">Send message</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
