<!-- Team Section -->
<section id="team" class="team">
  <h2>Our team</h2>
  <div class="members wrapper">
    <div class="member">
      <img src="assets/img/team/5.jpg" alt="">
      <h3>Alex</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, nostrum.</p>
    </div>
    <div class="member">
      <img src="assets/img/team/6.jpg" alt="">
      <h3>Anna</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, ex, illum.</p>
    </div>
    <div class="member">
      <img src="assets/img/team/7.jpg" alt="">
      <h3>Andry</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, consequuntur.</p>
    </div>

  </div>
</section>
