<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&autoLogAppEvents=1&version=v7.0&appId=2221186131243148"></script>

  {%- include header.html -%}
  
  <main class="page-content" aria-label="Content">
    <div>
      {{ content }}

      <div class="fb-comments_box">
        <div class="fb-comments" data-href="{{page.url | absolute_url}}" data-numposts="5" data-width="" data-colorscheme="dark"></div>
      </div>

    </div>
  </main>


  {%- include footer.html -%}

</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
<script src="js/magnific_popup_iframe.js" defer></script>
<script src="js/vr360.js" defer></script>

</html>
