<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}
  
  <main class="page-content" aria-label="Content">
    <div>
      {{ content }}
    </div>
  </main>

  {%- include footer.html -%}

</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
<script src="js/magnific_popup_iframe.js" defer></script>
<script src="js/vr360.js" defer></script>

</html>
